html {
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html a {
    text-decoration: none;
}

html li {
    list-style-type: none;
}

html ul {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

/* ----- Header ----- */

.header {
    background-color:#F8F4FC;
    min-height: 118px;
}

.logo {
    display: inline-block;
    margin-top: 11px;
}

.logo:hover {
    opacity: 0.8;
}

.header-container {
    width: 1288px;
    margin: 0 auto;
}

.navigation {
    display: inline-block;
    vertical-align: top;
}

.navigation-item {
    display: inline-block;
    margin-top: 31px;
}

.navigation-item a {
    color: #354657;
    font-size: 1rem;
    font-weight: 700;
}

.navigation-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-item:first-child {
    margin-left: 90px;
}

.navigation-item a:hover {
    opacity: 0.7;
}

.nav {
    display: inline-block;
    float: right;
    margin-top: 29px;
}

.nav a:not(:first-child) {
    margin-left: 36px;
}

.nav a:hover {
    opacity: 0.7;
}

.bread-crumbs {
    display: flex;
}

.bread-crumbs-item {
    margin-top: 16px;
}

.bread-crumbs-item a {
    font-size: 1rem;
    font-weight: 400;
    color: #626262;
}

.bread-crumbs-item a:hover {
    text-decoration: underline;
    color: #626262;
}

.bread-crumbs li:not(:first-child)::before {
    content: "→";
    margin: 0 10px;
}

.head {
    width: 1288px;
    margin: 71px auto 40px;
    min-height: 52px;
    border-bottom: 1px solid #E2E2E2;
}

.head h1 {
    font-size: 1.875rem;
    color: #354657;
    font-weight: 700;
}

/* ----- CONTENT ----- */

.content {
    width: 1288px;
    margin: 0 auto;
}

.radio-box {
    background-color: #F0F2F5;
    display: inline-block;
    margin-bottom: 30px;
    vertical-align: top;
}

.left {
    min-height: 113px;
    min-width: 384px;
    margin-right: 30px;
}

.right {
    min-height: 113px;
    min-width: 868px;

}

.radio-box h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #354657;
    margin: 0 7px 21px 20px;
    padding-top: 20px;
}

.radio-box input {
    margin: 0 0 31px 20px;
}

.radio-box label {
    margin-left: 30px;
}

  /* ------ Personal-info ------ */

.personal-info {
    min-height: 818px;
    width: 384px;
    background-color: #F0F2F5;
    padding: 20px 20px 30px 20px;
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 151px;
}

.personal-info h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #354657;
    margin: 0 0 30px 0;
}

.label {
    margin-bottom: 10px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #354657;
}

.personal-info input {
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    background-color: white;
    width: 344px;
    height: 38px;
    padding-left: 20px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #ADA8A8;
    opacity: 0.5;
}

.personal-info input:focus {
    border: 1px solid #354657;
    color: #354657;
    opacity: 0.9;
}

.input {
    margin-bottom: 20px;
}


.personal-info div:nth-child(11) {
    margin-bottom: 30px;
}

.personal-info div:last-child {
    margin-bottom: 0;
}


/* ----- Order-card ----- */

.order-card {
    min-width: 868px;
    min-height: 818px;
    display: inline-block;
    vertical-align: top;
}

.basket {
    font-size: 1.25rem;
    font-weight: 700;
    color: #354657;
    margin-bottom: 15px;
}

.order-header {
    background-color: #F0F2F5;
    min-height: 41px;
    margin-bottom: 6px;
}

.card-header {
    display: inline-block;
    min-width: 100%;
}

.card-header-item {
    font-size: 0.875rem;
    font-weight: bold;
    color: #354657;
    text-transform: uppercase;
    display: inline-block;
    width: 19%;
    margin-top: 13px;
}

.card-header-item:first-child,
.order-description-item:first-child {
    margin-left: 20px;
}

.order-description {
    width: 100%
}

.order-description input {
    width: 46px;
    height: 32px;
    vertical-align: top;
    margin-top: 6px;
}

.reload {
    margin: 6px 10px 0;
}

.order-description-item {
    display: inline-block;
    width: 19%;
    vertical-align: top;
    font-size: 0.875rem;
    font-weight: 400;
    color: #354657;
    min-height: 58px;
    margin-bottom: 19px;
}

.order-description-item:nth-child(2),
.order-description-item:nth-child(4),
.order-description-item:nth-child(5) {
    padding-top: 14px;
}

.order-prise {
    width: 338px;
    margin-left: 505px;
    height: 47px;
}

.order-prise-item {
    display: inline-block;
    min-height: 47px;
    padding-top: 17px;
}

.order-prise-item:first-child {
    width: 185px;
    font-size: 0.875rem;
    font-weight: 700;
    color: #354657;
    text-transform: uppercase;
    padding-right: 30px;
    text-align: right;
}

.order-prise-item:last-child {
    width: 135px;
    font-size: 1rem;
    color: #354657;
}

.total {
    margin-bottom: 30px;
}

/* ----- Payment ----- */

.payment {
    background-color: #F0F2F5;
    min-height: 318px;
    max-width: 868px;
    padding: 20px 20px 30px 20px; 
}

.payment-header {
    font-size: 1.25rem;
    font-weight: 700;
    color: #354657;
    padding-bottom: 15px;
}

.label-comment {
    font-size: 0.875rem;
    font-weight: 400;
    color: #354657;
}

.payment textarea {
    font-size: 1rem;
    font-weight: 400;
    color: #ADA8A8;
    padding: 9px 0 0 11px;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 16px;
    opacity: 0.5;
    width: 834px;
    height: 86px;
    resize: none;
}

.payment textarea:focus {
    border: 1px solid #354657;
    color: #354657;
    opacity: 0.9;

}

.label-agreement {
    font-size: 1rem;
    font-weight: 400;
    color: #354657;
}

.btn-payment {
    background-color: #946FD3;
    display: inline-block;
    border-radius: 50px;
    margin-top: 29px;
    margin-left: 600px;
}

.btn-payment a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    padding: 15px 40px;
}

.heart {
    width: 60%;
    margin: 0 auto;
}

/* style for checkbox */

.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox label {
    color: #000;
    cursor: default;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0;
    vertical-align: middle;
}

.checkbox label:before {
    content: " ";
    display: inline-block;
    font: 20px/30px Arial;
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #FFF;
    border: 1px solid #946FD3;
    border-image: initial;
    vertical-align: middle;
    border-radius: 2px;
}

.checkbox input:checked + label:before {
    content: "✔";
    color: #946FD3;
}

/*style for radiobox */

.radio-box input[type='radio'],
.radio-box label {
    cursor: pointer;
}

.radio-box input[type='radio'] {
    position: relative;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    margin: 10px 0 0 0;
}
  
.radio-box input[type='radio']::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 30px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #946FD3;
}

.radio-box input[type='radio']:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 30px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #946FD3;
    transform: translate(-50%, -50%);
    visibility: visible;
}


/* ----- Footer ----- */

.footer {
    border-top: 1px solid #E2E2E2;
}

.footer-container {
    width: 1288px;
    margin: 0 auto;
}

.footer-nav {
    display: inline-block;
    float: right;
    margin-top: 29px;
}

.footer-nav a:not(:first-child) {
    margin-left: 17px;
}

.footer-nav a:hover {
    opacity: 0.7;
}


